.content{
    display: flex;
}

.renderizar{
    width: 85vw;
    background-color: #c4c4c4;
    font-size: 0.90rem;
}

.routes{
    height: 88vh;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    background-color: #ffffff;
    overflow: hidden;
    overflow: scroll;
}