.dados{
    padding-top: 80px;
    color: #858383;
    text-align: center;
    align-content: center;
    font-size: 0.80rem;
}

.dados hr{
    width: 80%;
    position: relative;
    margin-left: 10%;
}