html{
  box-sizing: border-box;
}
*, *::before, *::after{
  box-sizing: inherit;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.page{
  padding: 10px;
  border-radius: 10px;
}

.corpo{
  display: flex;
}

.cor_menu{
  background-color: #1f1e1e;
}

.cor_header{
  background-color: #ffffff;
}

.cor_fundo{
  background-color: #ececec;
}

.cor_conteudo{
  background-color: #ffffff;
}
